<div id="trailFrm" class="row-fluid" style="display:none">
    	<div class="modal-header">Trail
	    	<button type="button" class="close" aria-hidden="true" onclick="closeEdit()">×</button>
    	</div>
    	<div>
    		<form class="form-horizontal" id="trail_frm">
				<input type="hidden" name="u" id="u"/>
    			<input type="hidden" name="trailId" id="trailId" value="0"/>
			  <div class="control-group">
			    <label class="control-label" for="trailName">Trail Name</label>
			    <div class="controls">
			      <input type="text" id="trailName" name="trailName" placeholder="">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="trailAddy">Address</label>
			    <div class="controls">
			      <input type="text" id="trailAddy" name="trailAddy" placeholder="">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="trailCity">City</label>
			    <div class="controls">
			      <input type="text" id="trailCity" name="trailCity" placeholder="">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="landOwner">Land Owner</label>
			    <div class="controls">
			      <input type="text" id="landOwner" name="landOwner" placeholder="">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="facebook">Facebook</label>
			    <div class="controls">
			      <input type="text" id="facebook" name="facebook" placeholder="">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="twitter">Twitter</label>
			    <div class="controls">
			      <input type="text" id="twitter" name="twitter" placeholder="">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="trailStatus">Trail Status:</label>
			    <div class="controls">
					<select name="trailStatus" id="trailStatus"><option value="0">Closed</option><option value="1">Open</option></select>
			    </div>
			  </div>
				<div class="control-group">
				    <label class="control-label" for="conditions">Trail Condition:</label>
				    <div class="controls">
						<select name="conditions" id="conditions"></select>
				    </div>
				</div>
				<div class="control-group">
					<div class="controls">
						<textarea name="trailComment" cols="40" rows="5"></textarea>  <span class="help-inline">Leave a comment</span>
					</div>
				</div>
			  <div class="control-group">
			    <textarea class="jquery_ckeditor" cols="80" id="editor1" name="editor1" rows="10"></textarea>
			  </div>
			</form>
    	</div>
    	<div class="modal-footer">
	    	<a href="#" id="saveTrail" class="btn btn-success">Save</a>
    	</div>
    </div>