body{
    background-image:url('../../images/background.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-color: #DFDAC2;
    padding-top: 80px;
    font-family: 'PT Sans', sans-serif;
}

#main_content {
    background-color: transparent;
    font-family: 'PT Sans', sans-serif;
    padding-top: 40px;
}

.content_buffer{
    background-color: transparent;
    padding-top: 80px;
}

#logo {
    position:absolute;
    top:0px;
    /*left:18%;*/
}

#login_register {
    position:absolute;
    top:0px;
    left:66%;
}

#left_nav {
    padding-top: 40px;
}

.page-header {
    font-family: 'PT Sans', sans-serif;
}

.text-center {
    text-align: center;
}

h1, h2, h4,p{
    color: #3E441D;
    font-family: 'PT Sans', sans-serif;
}

h3 {
    color: #C4A11C;
    font-family: 'PT Sans', sans-serif;
}

a, table {
    color: #CE6600;
    font-family: 'PT Sans', sans-serif;
}

a:link {color:#CE6600;}      /* unvisited link */
/*a:visited {color:#C4A11C;}  *//* visited link */
a:hover {color:#2c2c2c;}  /* mouse over link */
a:active {color:#CE6600;}

.hero-unit {
    background-color: #FFFFFF;
}

#main_warning {
    position:absolute;
    top:140px;
}

.nav-header {
    color: #CE6600;
    font-family: 'PT Sans', sans-serif;
}

.open {
    color: #006837;
}

.closed {
    color: #C1272D;
}

.open1 {
    color: #006837;
}

.closed1 {
    color: #C1272D;
}

.alpha50 {
    opacity: .5;
}

.trail-header{
    background: #C4A11C;
    color: #ffffff;
    font-weight: normal;
    padding-left: 10px;
    font-family: 'PT Sans', sans-serif;
}

div {
    font-family: 'PT Sans', sans-serif;
}