<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="main.php">DORBA Admin</a>
            <!--/.nav-collapse -->
            <ul class="nav pull-right">
                <li><a href="logout.php">Logout</a></li>
            </ul>
        </div>
    </div>
</div>