<div class="span2 offset1 well" id="sidebar">
    <ul class="nav nav-list bs-docs-sidenav">
        <li><a href="trails.php" class="active">Trails</a></li>
        <li><a href="sponsors.php">Sponsors</a></li>
        <li><a href="events.php">Events</a></li>
        <li><a href="members.php">Members</a></li>
        <li><a href="membershipreport.php">Membership Report</a></li>
        <li><a href="articles.php">Articles</a></li>
        <li><a href="contacts.php">Contacts</a></li>
        <li><a href="race.php">Race Series</a></li>
    </ul>
</div>